@inherits LayoutComponentBase
<div class="d-flex" id="wrapper">

    <NavMenu />

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark border-dark navstyled">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h2 class="title">Blazor Getting Started </h2>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                </ul>
            </div>
        </nav>

        <div class="container-fluid">

            @Body

        </div>
    </div>

</div>